{% extends 'template/twbs_bootstrap.html.twig' %}

{% block title %}Login{% endblock %}

{% block style %}
    <style>
        body{
            margin-top: 32px;
        }
        .form-signin {
            max-width: 360px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin .panel-body input{
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-signin" method="post">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <a href="{{ base_url() }}">
                        <h4 class="text-info">
                            <i class="fa fa-user"></i>
                            {{ constant('PROJECT_NAME') }} Login
                        </h4>
                    </a>
                </div>
                <div class="panel-body">
                    {{ twbs_input('email')|raw }}
                    {{ twbs_input({
                        'name': 'password',
                        'type': 'password',
                    })|raw }}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="checkbox text-center">
                                <label>
                                    <input 
                                        name="remember" 
                                        type="checkbox"
                                        {% if initial %}
                                            checked
                                        {% else %}
                                            {% if set_value('remember') %}
                                                checked
                                            {% endif %}
                                        {% endif %}
                                        > {{ t('common_remember_me') }}
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="checkbox text-center">
                                <a href="#">{{ t('common_forgot_password') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button 
                        class="btn btn-lg btn-info btn-block" 
                        type="submit"
                    >
                        <i class="fa fa-sign-in"></i>
                        {{ lang('common_signin') }}
                    </button>
                    <p>
                        <div class="checkbox text-center">
                            <a href="#">{{ t('common_new_signup') }}</a>
                        </div>
                    </p>
                </div>
            </div>
        </form>
    </div> <!-- /container -->
{% endblock %}

{% block script %}
    <script>
        autoFocus();
    </script>
{% endblock %}