{% extends 'template/twbs_bootstrap.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block style %}
    <style>
        .dashboard-items{
            display: inline-block;
            margin: 10px 30px;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'template/partial/navbar.html.twig' %}

    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="#">
                            {{ t('common_dashboard') }}
                        </a>
                    </li>
                    <li class="active">
                        {{ t('common_user') }}
                    </li>
                </ol>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="jumbotron">
                    <div>
                        <table class="table table-striped">
                            <tr>
                                <th>#</th>
                                <th>{{ t('common_fullname') }}</th>
                                <th>{{ t('common_email') }}</th>
                                <th class="text-center">{{ t('common_status') }}</th>
                                <th class="text-center">{{ t('common_action') }}</th>
                            </tr>
                            {% set number = 1 %}
                            {% for user in users %}
                                <tr>
                                    <td>{{ number }}</td>
                                    <td>{{ user.fullname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td class="text-center">
                                        {% if user.active %}
                                            <i class="fa fa-play text-success">
                                            </i>
                                        {% else %}
                                            <i class="fa fa-pause text-muted">
                                            </i>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% 
                                            include 
                                                'user/lists/form.html.twig' 
                                            with {'user': user} only 
                                        %}
                                    </td>
                                </tr>
                                {% set number = number + 1 %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div><!--/.col-xs-12.col-sm-9-->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        {{ t('common_users') }}
                    </a>
                    <a href="#" class="list-group-item">Another Link</a>
                </div>
            </div><!--/.sidebar-offcanvas-->
        </div><!--/row-->
    </div>
{% endblock %}