{% extends 'template/dashboard.html.twig' %}

{% block dashboard_breadcrumb %}
    <li>
        <a href="{{ site_url('dashboard') }}">
            {{ t('common_dashboard') }}
        </a>
    </li>
    <li>
        <a href="{{ site_url('dashboard/users') }}">
            {{ t('common_users') }}
        </a>
    </li>
    <li class="active">
        {{ t('common_list') }}
    </li>
{% endblock %}

{% block dashboard_content %}
    <div>
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>{{ t('common_fullname') }}</th>
                <th>{{ t('common_email') }}</th>
                <th class="text-center">{{ t('common_status') }}</th>
                <th class="text-center">{{ t('common_action') }}</th>
            </tr>
            {% set number = 1 %}
            {% for user in users %}
                <tr>
                    <td>{{ number }}</td>
                    <td>{{ user.fullname }}</td>
                    <td>{{ user.email }}</td>
                    <td class="text-center">
                        <i class="fa fa-{{ 
                            config('user_role_icon')[user.role]['fa']
                        }} {{ config('user_role_icon')[user.role]['color'] }}">
                        </i>
                        /
                        {% if user.active %}
                            <i class="fa fa-play text-success">
                            </i>
                        {% else %}
                            <i class="fa fa-pause text-muted">
                            </i>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% 
                            include 
                                'user/lists/form.html.twig' 
                            with {'user': user} only 
                        %}
                    </td>
                </tr>
                {% set number = number + 1 %}
            {% endfor %}
        </table>
    </div>
{% endblock %}