<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-lg-9">
            <div class="jumbotron">
                <div>
                    <ol class="breadcrumb">
                        <li><a href="#">{{ t('common_dashboard') }}</a></li>
                        <li><a href="#">{{ t('common_user') }}</a></li>
                        <li class="active">Data</li>
                    </ol>
                </div>
                <hr>
                <p>
                    <a href="{{ site_url('user/lists') }}">
                        <div style="padding: 20px;" class="bg-primary">
                            <div class="well">
                                <h1 class="dashboard-items">
                                        <i class="fa fa-users text-primary"></i>
                                        <span class="text-primary">{{ users_count.total }}</span>
                                        <sup>
                                            <small>
                                                <span class="text-primary">{{ users_count.active }}</span>
                                                /  
                                                {{ users_count.inactive }}
                                            </small>
                                        </sup>
                                </h1>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="well">
                                            <h1>
                                                <i class="fa fa-user-secret text-danger"></i>
                                                <small>
                                                    <span class="text-danger">{{ master_count.total }}</span>
                                                    <sup>
                                                        <small>
                                                            <span class="text-danger">{{ master_count.active }}</span>
                                                            /  
                                                            {{ master_count.inactive }}
                                                        </small>
                                                    </sup>
                                                </small>
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="well">
                                            <h1>
                                                <i class="fa fa-user-md text-success"></i>
                                                <small>
                                                    <span class="text-success">{{ admin_count.total }}</span>
                                                    <sup>
                                                        <small>
                                                            <span class="text-success">{{ admin_count.active }}</span>
                                                            /  
                                                            {{ admin_count.inactive }}
                                                        </small>
                                                    </sup>
                                                </small>
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="well">
                                            <h1>
                                                <i class="fa fa-user text-muted"></i>
                                                <small>
                                                    {{ user_count.total }}
                                                    <sup>
                                                        <small>
                                                            {{ user_count.active }}  
                                                            /  
                                                            {{ user_count.inactive }}
                                                        </small>
                                                    </sup>
                                                </small>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </p>
                <p>
                    <a href="{{ site_url('user/add_new') }}">
                        <button class="btn btn-lg">
                            <i class="fa fa-user-plus"></i>
                        </button>
                    </a>
                </p>
            </div>
        </div><!--/.col-xs-12.col-sm-9-->
        <div class="col-xs-6 col-lg-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    {{ t('common_users') }}
                </a>
                <a href="#" class="list-group-item">Another Link</a>
            </div>
        </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->
</div>