{% extends 'template/dashboard.html.twig' %}

{% block style %}
    {{ parent() }}
    <style>
        .data-moderation .media-object{
            max-width: 64px;
        }
        .data-moderation .media{
            border: 1px solid transparent;
            padding: 15px;
            padding-bottom: 0;
            cursor: pointer;
        }
        .data-moderation .media:hover{
            border: 1px solid rgba(0, 0, 0, .2);
        }
/*        table.data-locations *{
            font-size: 10px;
        }
*/    </style>
{% endblock %}

{% block dashboard_breadcrumb %}
    <li>
        <a href="{{ site_url('dashboard') }}">
            {{ t('common_dashboard') }}
        </a>
    </li>
    <li class="active">
        {{ t('common_data_moderation') }}
    </li>
{% endblock %}

{% block dashboard_content %}
    <div class="row data-moderation">
        {% set number = 1 %}
        {% for user in users %}
            <div class="col-sm-4">
                <div 
                    class="media" 
                    onclick="window.location = '{{ 
                        site_url(
                            'dashboard/data_moderation'
                            ~
                            (user.detail?"/"~user.detail.id:"")
                        )
                    }}'"
                >
                    <div class="media-left">
                        {% if user.detail %}
                            <a 
                                href="{{ user.detail.url }}"
                                target="_blank">
                                <img 
                                    class="media-object thumbnail" 
                                    src="{{ user.detail.image.url }}" 
                                    alt="{{ user.detail.displayName }}">
                            </a>
                        {% else %}
                            <a 
                                href="javascript:void(0);"
                                >
                                <img 
                                    class="media-object thumbnail" 
                                    src="{{ base_url(
                                        'assets/img/profile-picture-default.png'
                                    ) }}" 
                                    alt="Unknown User">
                            </a>
                        {% endif %}
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            {% if user.detail %}
                                {{ user.detail.displayName }}
                            {% else %}
                                Unknown
                            {% endif %}
                        </h4>
                        {{ user.detail.gender }}
                        <div>
                            <span class="badge">
                                {{ user.pending_locations }}
                            </span>
                            Lokasi
                        </div>
                    </div>
                </div>
                {% set number = number + 1 %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
