{% extends 'template/dashboard.html.twig' %}

{% block style %}
    {{ parent() }}
    <style>
        .data-moderation .media-object{
            max-width: 64px;
        }
/*        table.data-locations *{
            font-size: 10px;
        }
*/    </style>
{% endblock %}

{% block dashboard_breadcrumb %}
    <li>
        <a href="{{ site_url('dashboard') }}">
            {{ t('common_dashboard') }}
        </a>
    </li>
    <li class="active">
        {{ t('common_data_moderation') }}
    </li>
{% endblock %}

{% block dashboard_content %}
    <div class="row data-moderation">
        {% set number = 1 %}
        {% for user in users %}
            <div class="col-sm-4">
                {% if user.detail %}
                    <div class="media">
                        <div class="media-left">
                            <a 
                                href="{{ user.detail.url }}"
                                target="_blank">
                                <img 
                                    class="media-object thumbnail" 
                                    src="{{ user.detail.image.url }}" 
                                    alt="{{ user.detail.displayName }}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                {{ user.detail.displayName }}
                            </h4>
                            {{ user.detail.gender }}
                            <div>
                                <span class="badge">
                                    {{ user.pending_locations }}
                                </span>
                                Pending review
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="media">
                        <div class="media-left">
                            <a 
                                href="javascript:void(0);"
                                >
                                <img 
                                    class="media-object thumbnail" 
                                    src="{{ base_url(
                                        'assets/img/profile-picture-default.png'
                                    ) }}" 
                                    alt="Unknown User">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                Unknown
                            </h4>
                            <div>
                                <span class="badge">
                                    {{ user.pending_locations }}
                                </span>
                                Pending review
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% set number = number + 1 %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
