<form class="form-horizontal" method="post" enctype="multipart/form-data">
    <div id="form-update-profile" class="table col-sm-12">
        <div class="row">
            <div id="profile-picture-container" class="col-sm-3">
                <div class="form-group">
                    <label 
                        for="profile_picture">
                        <img
                            id="profile-picture-preview"
                            class="img-responsive" 
                            alt="Profile Picture"
                            src="{{ 
                                user.profile_picture
                                ?base_url(user.profile_picture)
                                :base_url('assets/img/profile-picture-default.png') 
                            }}"
                            >
                    </label>
                    <input 
                        type="file" 
                        name="profile_picture"
                        id="profile_picture"
                        class="form-control"
                        style="display: none;">
                    <div>
                        {% if not profile_picture.status %}
                            <sub class="bg-danger text-danger">
                                {{ profile_picture.message }}
                            </sub>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-md-6">
                        {{ twbs_h_input({
                            'name': 'fullname',
                            'value': user.fullname
                        })|raw }}
                        <div class="form-group{% if form_error('gender') %}
                            {{ ' has-error' }}
                            {% endif %}">
                            <label class="control-label col-sm-4">
                                {{ t('common_gender') }}
                            </label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input 
                                        type="radio" 
                                        name="gender" 
                                        {{ (user.gender?:set_value('gender')) == 'm'?'checked':'' }}
                                        value="m"> Male
                                </label>
                                <label class="radio-inline">
                                    <input 
                                        type="radio" 
                                        name="gender" 
                                        {{ (user.gender?:set_value('gender')) == 'f'?'checked':'' }}
                                        value="f"> Female
                                </label>
                                <div>
                                    {% if form_error('gender') %}
                                        <sub 
                                            class="bg-danger text-danger"
                                            >{{ form_error('gender') }}</sub>
                                    {% endif %} 
                                </div>
                            </div>
                        </div>
                        {{ twbs_h_input({'name': 'birth_date', 'value': user.birth_date})|raw }}
                        {{ twbs_h_input({'name': 'birth_place', 'value': user.birth_place})|raw }}
                        {{ twbs_h_input({'name': 'occupation', 'value': user.occupation})|raw }}
                    </div>
                    <div class="col-md-6">
                        {{ twbs_h_input({'name': 'email', 'value': user.email})|raw }}
                        {{ twbs_h_input({'name': 'phone', 'value': user.phone})|raw }}
                        {{ twbs_h_textarea({
                            'name': 'address',
                            'value': user.address,
                            'rows': 5,
                        })|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <input 
            type="submit" 
            value="{{ t('common_update') }}" 
            class="btn btn-primary btn-block">
    </div>
</form>
