<!DOCTYPE html>
<html lang="{{ lang('common_lang_code') }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ 
            twbs('docs/favicon.ico')
        }}">
        <title>{% block title %}Starter Template for Bootstrap{% endblock %}</title>
        <link href="{{ 
            twbs('dist/css/bootstrap.min.css')
        }}" rel="stylesheet">
        <link href="{{ 
            base_url('vendor/fortawesome/font-awesome/css/font-awesome.min.css')
        }}" rel="stylesheet">
        <link href="{{ 
            base_url('vendor/components/flag-icon-css/css/flag-icon.css')
        }}" rel="stylesheet">
        <!--<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>-->
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <style>
            body {
                font-family: 'Lato';
                margin-bottom: 32px;
            }
            .ui-pnotify{
                right: 10px !important;
            }
            .ui-pnotify-sticker{
                display: none;
            }
            footer.footer{
                margin-top: 32px;
            }
            .flag-wrapper{
                opacity: .7;
                display: inline-block;
                box-shadow: 0 0 2px black;
                background-size: cover;
                cursor: pointer;
            }
            .flag-wrapper.active{
                opacity: 1;
                box-shadow: 0 0 2px green;
                cursor: default;
            }
            .flag-icon{
                width: 24px;
            }
        </style>
        {% block style %}{% endblock %}
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="{{ twbs('docs/assets/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
        <script src="{{
            twbs('docs/assets/js/ie-emulation-modes-warning.js')
        }}"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="{{ 
            base_url('assets/thirdparty/pnotify/pnotify.custom.min.css') 
        }}" media="all" rel="stylesheet" type="text/css" />
        <link href="{{ 
            base_url('assets/thirdparty/bootstrap-datepicker/css/bootstrap-datepicker.css') 
        }}" media="all" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% block content %}{% endblock %}
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            <div 
                                class="flag-wrapper {{ 
                                    active_if_lang('indonesian')
                                }}" 
                                title="{{ lang('common_indonesian') }}"
                            >
                                <span class="flag-icon flag-icon-id"></span>
                            </div>
                            <div 
                                class="flag-wrapper {{ 
                                    active_if_lang('english')
                                }}" 
                                title="{{ lang('common_english') }}"
                            >
                                <span class="flag-icon flag-icon-us"></span>
                            </div>
                        </p>
                    </div>
                </div>
                <p class="text-muted">
                    &copy;<a href="{{ base_url() }}">{{ 
                        constant('PROJECT_NAME') 
                    }}</a>
                    2014-{{ 'now'|date('Y') }}.
                </p>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{
            base_url('vendor/components/jquery/jquery.min.js')
        }}"></script>
        <script src="{{
            twbs('dist/js/bootstrap.min.js')
        }}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{
            twbs('docs/assets/js/ie10-viewport-bug-workaround.js')
        }}"></script>
        <script src="{{
            twbs('docs/assets/js/docs.min.js')
        }}"></script>
        <script type="text/javascript" src="{{ 
            base_url('assets/thirdparty/pnotify/pnotify.custom.min.js') }}">
        </script>
        <script type="text/javascript" src="{{ 
            base_url('assets/thirdparty/bootstrap-datepicker/js/bootstrap-datepicker.js') }}">
        </script>
        {% include 'template/notify.html.twig' %}
        {% block script %}{% endblock %}
    </body>
</html>
