<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{ 
            twbs('docs/favicon.ico')
        }}">
        <title>{% block title %}Starter Template for Bootstrap{% endblock %}</title>
        <link href="{{ 
            twbs('dist/css/bootstrap.min.css')
        }}" rel="stylesheet">
        <link href="{{ 
            base_url('vendor/fortawesome/font-awesome/css/font-awesome.min.css')
        }}" rel="stylesheet">
        {% block style %}{% endblock %}
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="{{ twbs('docs/assets/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
        <script src="{{
            twbs('docs/assets/js/ie-emulation-modes-warning.js')
        }}"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="{{ 
            base_url('assets/thirdparty/pnotify/pnotify.custom.min.css') 
        }}" media="all" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% block content %}{% endblock %}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{
            base_url('vendor/components/jquery/jquery.min.js')
        }}"></script>
        <script src="{{
            twbs('dist/js/bootstrap.min.js')
        }}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{
            twbs('docs/assets/js/ie10-viewport-bug-workaround.js')
        }}"></script>
        <script type="text/javascript" src="{{ 
            base_url('assets/thirdparty/pnotify/pnotify.custom.min.js') }}">
        </script>
        {% include 'template/notify.html.twig' %}
    </body>
</html>
